---
layout: default
---
<main class="content">
  <header class="hero">
    <div class="hero__inner">
      <div class="hero__content">
        <h4 class="hero__subscript">
          Welcome to the G.O.A.T.
        </h4>
        <h1 class="hero__title">
          E<span>u</span>r<span>u</span>k<span>o</span>
        </h1>
        <p class="hero__text">
          Dive into the Ruby-Verse.
        </p>
        <p class="hero__text mb--2">
          Join the G.O.A.T. and make it the BA-AAA-ST ever!
        </p>
        <p class="hero__text">
          SEPTEMBER 11-13 2024, Sarajevo, Bosnia & Herzegovina
        </p>
        <div class="hero__actions">
          <a href="https://ti.to/european-ruby-konferenz/2024" target="_blank" class="button button--secondary">Register Now</a>
          <a href="/sponsoring" class="button button--secondary">Become a Sponsor</a>
        </div>
      </div>
      <div class="hero__image">
        <div class="hero__image__inner">
          <img src="/assets/images/hero_image.png" alt="EuRuKo 2024" />
        </div>
      </div>
      <div class="hero__stats">
        <div class="hero__stats__item">
          <div class="hero__stats__number">7</div>
          <div class="hero__stats__text">
            Keynote
            <span class="display--block">Speakers</span>
          </div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">34</div>
          <div class="hero__stats__text">Talks</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">3</div>
          <div class="hero__stats__text">Workshops</div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">2</div>
          <div class="hero__stats__text">
            Panel
            <span class="display--block">Discussions</span>
          </div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">2</div>
          <div class="hero__stats__text">
            Lightning
            <span class="display--block">Talk Sessions</span>
          </div>
        </div>
        <div class="hero__stats__item">
          <div class="hero__stats__number">25+</div>
          <div class="hero__stats__text">Countries Participating</div>
        </div>
      </div>
    </div>
  </header>
  {% include about_section.html %}
  {% include speakers_section.html %}
  {% include ticket_benefits.html %}
  {% include location_section.html %}
  {% include agenda_section.html %}
  {% include sponsors_section.html %}
  {% include partners_section.html %}
</main>
