<section class="section section--about">
  <div class="section__content">
    <article class="section__article is-centered mb--12">
      <div class="col--1-2 col--sm-100">
        <h3 class="section__article__title is-centered has-dot">What is EuRuKo?</h3>
        <p class="section__article__text text--align-center mb--2">
          EuRuKo (European Ruby Konferenz) is the largest and longest running annual Ruby conference in Europe,
          since 2003, that brings you all the good news about Ruby and its friends. Every year it takes place
          in a different European city, the location being chosen by participants.
        </p>
        <div class="text--align-center">
          <a href="https://euruko.org" target="_blank" class="button button--secondary">
            Past EuRuKo's
          </a>
        </div>
      </div>
    </article>
    <article class="section__article">
      <div class="col--1-4 col--md-1-2 col--sm-100">
        <div class="section__article__image">
          <img src="/assets/images/logo.svg" alt="G.O.A.T." />
        </div>
      </div>
      <div class="col--3-4 col--md-1-2 col--sm-100">
        <h3 class="section__article__title has-dot">G.O.A.T. EuRuKo 2024</h3>
        <p class="section__article__text text--bold">
          EuRuKo 2024 will be held in Sarajevo, Bosnia and  Herzegovina.
        </p>
        <p class="section__article__text mb--2">
          The first-ever Ruby conference in Bosnia and Herzegovina will be held in person, both for participants and speakers.
          We will not plan to provide a stream, but we will record all sessions and publish them at a later date on EuRuKo's official youtube channel.
        </p>
        <p class="section__article__text mb--2">
          The pitch we made for 2024 was for a G.O.A.T. EuRuKo, the greatest of all time of course, but also because of the famous goat from Tuzla, BiH.
          The story behind this has been passed down for generations, if you want to learn more about the goat, click on the button below.
        </p>
        <a href="/why_the_goat" class="button button--secondary">Why <span class="text--bold text--uppercase ml--1">the G.O.A.T.</span>?</a>
      </div>
    </article>
  </div>
</section>
