<nav class="navbar">
  <div class="navbar__inner">
    <ul class="navbar__list">
      <li class="navbar__list__item">
        <a href="/coc" class="navbar__list__link">Code of Conduct</a>
      </li>
      <li class="navbar__list__item">
        <a href="/#speakers" class="navbar__list__link">Speakers</a>
      </li>
      <li class="navbar__list__item">
        <a href="/#sponsors" class="navbar__list__link">Sponsors</a>
      </li>
    </ul>
    <div class="navbar__logo">
      <a href="/" >
        <img src="/assets/images/logo.png" alt="EuRuKo 2024" />
      </a>
    </div>
    <ul class="navbar__list">
      <li class="navbar__list__item">
        <a href="https://ti.to/european-ruby-konferenz/2024" target="_blank" class="button button--primary">Get Tickets</a>
      </li>
      <!-- <li class="navbar__list__item">
        <a href="https://www.papercall.io/euruko2024" target="_blank" class="button button--primary">Become a Speaker</a>
      </li> -->
      <li class="navbar__list__item">
        <a href="/sponsoring" class="button button--primary">Become a Sponsor</a>
      </li>
    </ul>
  </div>
  <div class="navbar__mobile">
    <div class="navbar__mobile__inner">
      <div class="navbar__logo">
        <a href="/" >
          <img src="/assets/images/logo.png" alt="EuRuKo 2024" />
        </a>
      </div>
      <div onClick="toggleMenu()" class="navbar_mobile__menu">
        <img src="/assets/images/menu.svg"/>
      </div>
    </div>
    <div class="navbar__mobile__content">
      <div class="navbar__mobile__content__inner">
        <div onClick="toggleMenu()" class="navbar_mobile__close">
          <img src="/assets/images/close.svg"/>
        </div>
        <ul class="navbar__list">
          <li class="navbar__list__item">
            <a href="/coc" class="navbar__list__link">Code of Conduct</a>
          </li>
          <li class="navbar__list__item">
            <a href="/#speakers" class="navbar__list__link">Speakers</a>
          </li>
          <li class="navbar__list__item">
            <a href="/#sponsors" class="navbar__list__link">Sponsors</a>
          </li>
          <li class="navbar__list__item">
            <a href="https://www.papercall.io/euruko2024" target="_blank" class="button button--primary">Become a Speaker</a>
          </li>
          <li class="navbar__list__item">
            <a href="/sponsoring" class="button button--primary">Become a Sponsor</a>
          </li>
          <li class="navbar__list__item">
            <a href="https://ti.to/european-ruby-konferenz/2024" target="_blank" class="button button--primary">Get Tickets</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  function toggleMenu() {
    document.getElementsByClassName('navbar__mobile__content')[0].classList.toggle('is-visible');
  }
</script>
