<section id="newsletter" class="newsletter section-spacing">
  <view class="layout-wrapper h-flex-wrap">
    <view class="image-wrapper">
      <img src="/assets/images/newsletter.svg" />
    </view>
    <view column id="mc_embed_signup">
      <h2 class="fw-bold c-white">Stay tuned!</h2>
      <h3 class="fw-medium c-white">Sign up for our newsletter and stay up to date.</h3>
      <form
        action="https://euruko.us10.list-manage.com/subscribe/post?u=4737277ee0b37205131631c0d&amp;id=1a6fade1a6&amp;f_id=0017e7e5f0"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <view class="mc-field-group h-flex-wrap">
            <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email Address">
            <input type="submit" value="Sign me up!" name="subscribe" class="bg-red">
          </view>
          <div id="mce-responses" class="clear foot">
            <div
              class="response"
              id="mce-error-response"
              style="display: none"
            ></div>
            <div
              class="response"
              id="mce-success-response"
              style="display: none"
            ></div>
          </div>
          <div aria-hidden="true" style="position: absolute; left: -5000px">
            /* real people should not fill this in and expect good things - do
            not remove this or risk form bot signups */
            <input
              type="text"
              name="b_4737277ee0b37205131631c0d_1a6fade1a6"
              tabindex="-1"
              value=""
            />
          </div>
        </div>
      </form>
    </view>
  </view>
</section>
