<section class="section section--speakers" id="speakers">
  <div class="section__content">
    <article class="section__article">
      <h3 class="section__article__title has-dot">Speakers</h3>
      <div class="speakers-list">
        <a href="https://twitter.com/yukihiro_matz?lang=en" target="_blank" class="speaker-card speaker-card__matz"></a>
        <a href="https://pragdave.me/" target="_blank" class="speaker-card speaker-card__dave"></a>
        <a href="https://twitter.com/inazarova" target="_blank" class="speaker-card speaker-card__irina"></a>
        <a href="https://hashref.com/" target="_blank" class="speaker-card speaker-card__xavier"></a>
        <a href="https://twitter.com/josevalim" target="_blank" class="speaker-card speaker-card__jose"></a>
        <a href="https://www.atdot.net/~ko1/" target="_blank" class="speaker-card speaker-card__koichi"></a>
        <a href="https://stevenrbaker.com/" target="_blank" class="speaker-card speaker-card__steven"></a>
        <a href="https://zverok.space/" target="_blank" class="speaker-card speaker-card__victor"></a>
        <a href="https://twitter.com/OngMaple" target="_blank" class="speaker-card speaker-card__maple2"></a>
        <a href="https://twitter.com/_byroot" target="_blank" class="speaker-card speaker-card__jean"></a>
        <a href="https://twitter.com/kateinoigakukun" target="_blank" class="speaker-card speaker-card__yuta"></a>
        <a href="https://twitter.com/hola_soy_milk" target="_blank" class="speaker-card speaker-card__ramon"></a>
        <a href="https://www.papercall.io/euruko2024" target="_blank" class="speaker-card speaker-card__question"></a>
      </div>

      <p class="section__article__text">
        More invited and confirmed speakers to be announced in the next weeks.
      </p>
      <p class="section__article__text mb--2">
        Talk topics are still being discussed and will be announced at a later date.
      </p>
      <p class="section__article__text">
        If you want to join our invited speakers, take a look at our call for papers with a click on the button below.
      </p>
      <p class="section__article__text">
        We will leave enough room for everyone in the community who wants to speak at EuRuKo.
      </p>
      <p class="section__article__text mb--2">
        Call for papers is open until April 15th!
      </p>
      <p class="section__article__text">
        <a href="https://www.papercall.io/euruko2024" target="_blank" class="button button--primary">Become a Speaker</a>
      </p>
    </article>
  </div>
</section>
