<section class="section section--sponsors" id="sponsors">
  <div class="section__content">
    <h2 class="section__title has-dot is-centered mb--1">Sponsors</h2>
    <p class="section__text text--align-center mb--2">The essential reason of why EuRuKo 2024 is more affordable for our community.</p>
    <div class="text--align-center">
      <a href="/sponsoring" class="button button--secondary">
        Become a Sponsor
      </a>
    </div>
    <div class="cards mb--8">
      <div class="cards__item col--1-3 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--ruby">Ruby</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.meisterlabs.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/meister_light.png" alt="Meister" />
              </a>
            </div>
            <div class="card__text">
              For over 15 years, we have created stunningly-designed productivity tools that help teams work beautifully together.
              We are defined by what we create, which is why everything we do is guided by a clear, big-picture philosophy about
              what sort of company we want to be.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards mb--8">
      <div class="cards__item col--1-3 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--gold">Gold</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.cloudamqp.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/cloudamqp-light.svg" alt="CloudAMQP" />
              </a>
            </div>
            <div class="card__text">
              We automate server configurations and maintenance so developers can focus on what they do best: build applications.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards mb--8">
      <div class="cards__item col--1-3 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--silver">Silver</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.appsignal.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/appsignal.png" alt="AppSignal" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-3 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--silver">Silver</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.viaeurope.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/viaeurope-logo.png" alt="ViaEurope" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-3 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--silver">Silver</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.sequra.com/en" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/sequra-logo.png" alt="seQura" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards mb--8">
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--bronze">Bronze Online</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.wizardhealth.co/?lang=en" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/wizardhealth.png" alt="WizardHealth" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--bronze">Bronze Online</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://welaika.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/logoWelaika.png" alt="Welaika" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--bronze">Bronze Online</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.happyscribe.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/happyscribe.png" alt="Happy Scribe" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--bronze">Bronze Online</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.ministryofprogramming.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/ministryofprogramming-white.png" alt="Ministry of Programming" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards mb--8">
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--travel">Travel</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://evilmartians.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/evilmartians.png" alt="EvilMartians" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--travel">Travel</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://avohq.io/rails-admin" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/avo-logo.png" alt="Avo" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--travel">Travel</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.zendesk.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/zendesk.png" alt="zendesk" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--travel">Travel</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://prevail.ai/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/prevail-logo-white.png" alt="prevail" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--travel">Travel</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://www.cultureamp.com/" target="_blank" class="card__logo__link">
                <img src="/assets/images/sponsors/cultureamp.png" alt="cultureamp" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards__item col--1-4 col--md-1-2 col--sm-100">
        <div class="card is-dark">
          <div class="card__label card-label--travel">Travel</div>
          <div class="card__body">
            <div class="card__logo mb--2">
              <a href="https://olympia.chat/" target="_blank" class="card__logo__link my--4">
                <img src="/assets/images/sponsors/olympia-chat.png" alt="olympia" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text--align-center">
      <a href="/sponsoring" class="button button--secondary">
        Become a Sponsor
      </a>
    </div>
  </div>
</section>
