<section class="section section--tickets">
  <div class="section__content">
    <article class="section__article">
      <div class="section__article__content">
        <h3 class="section__article__title has-dot is-centered mb--1">EuRuKo ticket benefits</h3>
        <p class="section__article__text text--align-center">
          This is what you get when you <span class="text--bold">buy a ticket for <span class="text--primary">EuRuKo 2024</span></span>
        </p>
        <div class="benefits">
          <div class="benefits__item">
            <div class="benefit">
              <h4 class="benefit__title">G.O.A.T. Content</h4>
              <p class="benefit__text">
                Featuring some of the most esteemed speakers and workshop hosts from the Ruby community.
              </p>
            </div>
          </div>
          <div class="benefits__item">
            <div class="benefit">
              <h4 class="benefit__title">Full Program Access</h4>
              <p class="benefit__text">
                Access to all keynotes, talks, workshops, lightning talks, expo, networking sessions & parties.
              </p>
            </div>
          </div>
          <div class="benefits__item">
            <div class="benefit">
              <h4 class="benefit__title">Thermal Spa Resort</h4>
              <p class="benefit__text">
                As hotel guests you get free access to the thermal spa offer of a five-star hotel.
              </p>
            </div>
          </div>
          <div class="benefits__item">
            <div class="benefit">
              <h4 class="benefit__title">Sarajevo</h4>
              <p class="benefit__text">
                You get to visit Sarajevo, the capital of Bosnia & Herzegovina, often called the european Jerusalem.
              </p>
            </div>
          </div>
          <div class="benefits__item">
            <div class="benefit">
              <h4 class="benefit__title">Catering</h4>
              <p class="benefit__text">
                Vegan, vegetarian and meat (halal certified) options available.
                If our budget allows, we want to cover lunch and coffee breaks for all attendees.
              </p>
            </div>
          </div>
          <div class="benefits__item">
            <div class="benefit">
              <h4 class="benefit__title">Community</h4>
              <p class="benefit__text">
                Access to a EuRuKo Discord server where you can talk with fellow attendees, speakers, and sponsors.
              </p>
            </div>
          </div>
        </div>
        <div class="text--align-center">
          <a href="https://ti.to/european-ruby-konferenz/2024" target="_blank" class="button button--secondary">
            Buy a Ticket
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
