<div class="schedule">
  <div class="schedule__header">
    <div class="schedule__time">Time</div>
    <div class="schedule__place">Main Track</div>
    <div class="schedule__place">Second Track</div>
    <div class="schedule__place">Third Track</div>
  </div>
  <div class="schedule__body">
    <div class="schedule__row">
      <div class="schedule__time">08:30 - 09:40</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Registration</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">09:40 - 10:00</div>
      <div class="schedule__item">
        <a href="/speakers/carmen_huidobro" class="schedule__item__image" style="background: url(/assets/images/speakers/carmen.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">MC welcomes the audience</h5>
          <p class="schedule__item__speaker">Carmen Huidobro</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">10:00 - 10:50</div>
      <div class="schedule__item">
        <a href="/speakers/xavier_noria" class="schedule__item__image" style="background: url(/assets/images/speakers/xavier.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Opening Keynote: TBD</h5>
          <p class="schedule__item__speaker">Xavier Noria</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">11:00 - 11:30</div>
      <div class="schedule__item">
        <a href="/speakers/jean_boussier" class="schedule__item__image" style="background: url(/assets/images/speakers/jean.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">A Decade of Rails Bug Fixes</h5>
          <p class="schedule__item__speaker">Jean Boussier</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/ivan_nemytchenko" class="schedule__item__image" style="background: url(/assets/images/speakers/ivan_nemytchenko.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">The Curse of Service Objects</h5>
          <p class="schedule__item__speaker">Ivan Nemytchenko</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/igor_morozov" class="schedule__item__image" style="background: url(/assets/images/speakers/igor_morozov.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Benefits and challenges of introducing a strict Content Security Policy</h5>
          <p class="schedule__item__speaker">Igor S. Morozov</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">11:40 - 12:10</div>
      <div class="schedule__item">
        <a href="/speakers/faraaz_ahmad" class="schedule__item__image" style="background: url(/assets/images/speakers/faraaz_ahmad.jpg_large) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Ruby without the syntax</h5>
          <p class="schedule__item__speaker">Faraaz Ahmad</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/guilherme_carreiro" class="schedule__item__image" style="background: url(/assets/images/speakers/guilherme.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Building native Ruby extensions in Rust </h5>
          <p class="schedule__item__speaker">Guilherme Carreiro</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/erica_weistrand" class="schedule__item__image" style="background: url(/assets/images/speakers/erica_weistrand.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Ruby off Rails</h5>
          <p class="schedule__item__speaker">Erica Weistrand</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">12:10 - 13:00</div>
      <div class="schedule__item">
        <a href="/speakers/victor_shepelev" class="schedule__item__image" style="background: url(/assets/images/speakers/victor.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Seven things I know after 25 years of development</h5>
          <p class="schedule__item__speaker">Victor Shepelev</p>
        </div>
      </div>
      <div class="schedule__item">
      </div>
      <div class="schedule__item">
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">13:00 - 14:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Lunch Break</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:00 - 14:30</div>
      <div class="schedule__item">
        <a href="/speakers/julik_tarkhanov" class="schedule__item__image" style="background: url(/assets/images/speakers/julik_tarkhanov.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">On the benefits of slot scheduling</h5>
          <p class="schedule__item__speaker">Julik Tarkhanov</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/dmitry_pogrebnoy" class="schedule__item__image" style="background: url(/assets/images/speakers/dmitry_pogrebnoy.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Demystifying Debugging: A Deep Dive into the Internals of Advanced Ruby Introspection Tool </h5>
          <p class="schedule__item__speaker">Dmitry Pogrebnoy</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/marko_cilimkovic" class="schedule__item__image" style="background: url(/assets/images/speakers/marko_cilimkovic.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Lessons From Escaping the Dependency Upgrade Maze</h5>
          <p class="schedule__item__speaker">Marko Ćilimković</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:40 - 15:10</div>
      <div class="schedule__item">
        <a href="/speakers/igor_jancev" class="schedule__item__image" style="background: url(/assets/images/speakers/igor_jancev.jpg_large) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Patterns and solutions distilled from 10 years development and maintenance of a big campus software ruby on rails application</h5>
          <p class="schedule__item__speaker">Igor Jancev</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/karen_jex" class="schedule__item__image" style="background: url(/assets/images/speakers/karen_jex.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Optimising your database for analytics</h5>
          <p class="schedule__item__speaker">Karen Jex</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/tim_kachele" class="schedule__item__image" style="background: url(/assets/images/speakers/tim_kachele.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Mechanical sympathy, or: writing fast ruby progams</h5>
          <p class="schedule__item__speaker">Tim Kächele</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">15:20 - 15:50</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Coffee Break</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">16:00 - 16:50</div>
      <div class="schedule__item">
        <a href="/speakers/irina_nazarova" class="schedule__item__image" style="background: url(/assets/images/speakers/irina.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Keynote: Evolution of real-time and AnyCable Pro</h5>
          <p class="schedule__item__speaker">Irina Nazarova</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">17:00 - 17:50</div>
      <div class="schedule__item">
        <a href="/speakers/irina_nazarova" class="schedule__item__image" style="background: url(/assets/images/speakers/irina.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Open Source & Business</h5>
          <p class="schedule__item__speaker">Panel: Irina Nazarova & Guests</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">18:00 - ?</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Networking & Spa / Pub Crawling</p>
      </div>
    </div>
  </div>
</div>
