<div class="schedule">
  <div class="schedule__header">
    <div class="schedule__time">Time</div>
    <div class="schedule__place">Main Track</div>
    <div class="schedule__place">Second Track</div>
    <div class="schedule__place">Third Track</div>
  </div>
  <div class="schedule__body">
    <div class="schedule__row">
      <div class="schedule__time">09:40 - 10:00</div>
      <div class="schedule__item">
        <a href="/speakers/carmen_huidobro" class="schedule__item__image" style="background: url(/assets/images/speakers/carmen.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Good Morning and Agenda</h5>
          <p class="schedule__item__speaker">Carmen Huidobro</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">10:00 - 10:50</div>
      <div class="schedule__item">
        <a href="/speakers/koichi_sasada" class="schedule__item__image" style="background: url(/assets/images/speakers/koichi.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Keynote: 20th years of YARV</h5>
          <p class="schedule__item__speaker">Koichi Sasada</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">11:00 - 11:30</div>
      <div class="schedule__item">
        <a href="/speakers/yuta_saito" class="schedule__item__image" style="background: url(/assets/images/speakers/yuta.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">What you can do with Ruby on WebAssembly</h5>
          <p class="schedule__item__speaker">Yuta Saito</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/marco_roth" class="schedule__item__image" style="background: url(/assets/images/speakers/marco_roth.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Leveling Up Developer Tooling For The Modern Rails &amp; Hotwire Era</h5>
          <p class="schedule__item__speaker">Marco Roth</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/hitoshi_hasumi" class="schedule__item__image" style="background: url(/assets/images/speakers/hitoshi_hasumi.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Embedded Ruby Revolution: A Hands-On Workshop with PicoRuby</h5>
          <p class="schedule__item__speaker">Hitoshi Hasumi</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">11:40 - 12:10</div>
      <div class="schedule__item">
        <a href="/speakers/magesh" class="schedule__item__image" style="background: url(/assets/images/speakers/magesh.jpg_medium) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Concurrency in Ruby: Threads, Fibers, and Ractors Demistified</h5>
          <p class="schedule__item__speaker">Magesh</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/yaroslav_shmarov" class="schedule__item__image" style="background: url(/assets/images/speakers/yaroslav.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Rails 8 Frontend: 10 commandments and 7 deadly sins in 2025</h5>
          <p class="schedule__item__speaker">Yaroslav Shmarov</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/hitoshi_hasumi" class="schedule__item__image" style="background: url(/assets/images/speakers/hitoshi_hasumi.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Embedded Ruby Revolution: A Hands-On Workshop with PicoRuby</h5>
          <p class="schedule__item__speaker">Hitoshi Hasumi</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">12:20 - 13:00</div>
      <div class="schedule__item">
        <a href="/#agenda" class="schedule__item__image" style="background: url(/assets/images/speakers/lightning_talks.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Lightning Talks</h5>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/#agenda" class="schedule__item__image" style="background: url(/assets/images/speakers/exponetworking.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Expo & Networking</h5>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/hitoshi_hasumi" class="schedule__item__image" style="background: url(/assets/images/speakers/hitoshi_hasumi.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Embedded Ruby Revolution: A Hands-On Workshop with PicoRuby</h5>
          <p class="schedule__item__speaker">Hitoshi Hasumi</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">13:00 - 14:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Lunch Break</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:00 - 14:30</div>
      <div class="schedule__item">
        <a href="/speakers/maple_ong" class="schedule__item__image" style="background: url(/assets/images/speakers/maple.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Lessons from a Rails Infrastructure Team</h5>
          <p class="schedule__item__speaker">Maple Ong</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/fernando_perales" class="schedule__item__image" style="background: url(/assets/images/speakers/fernando_perales.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Let's give REST a rest: exploring the state of gRPC in Ruby</h5>
          <p class="schedule__item__speaker">Fernando Perales</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/lucian_ghinda" class="schedule__item__image" style="background: url(/assets/images/speakers/lucian.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Testing: How to write fewer tests and cover more cases</h5>
          <p class="schedule__item__speaker">Lucian Ghinda</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:40 - 15:10</div>
      <div class="schedule__item">
        <a href="/speakers/joel_drapper" class="schedule__item__image" style="background: url(/assets/images/speakers/joel_drapper.jpg_large) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Building Beautiful Views in Ruby with Phlex</h5>
          <p class="schedule__item__speaker">Joel Drapper</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/bruno_sutic" class="schedule__item__image" style="background: url(/assets/images/speakers/bruno_sutic.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Async Ruby</h5>
          <p class="schedule__item__speaker">Bruno Sutic</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/lucian_ghinda" class="schedule__item__image" style="background: url(/assets/images/speakers/lucian.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Testing: How to write fewer tests and cover more cases</h5>
          <p class="schedule__item__speaker">Lucian Ghinda</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">15:20 - 15:50</div>
      <div class="schedule__item">
        <a href="/speakers/prakriti_mateti" class="schedule__item__image" style="background: url(/assets/images/speakers/prakriti.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">One does not simply... rebuild a product</h5>
          <p class="schedule__item__speaker">Prakriti Mateti</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/svyatoslav_kryukov" class="schedule__item__image" style="background: url(/assets/images/speakers/svyatoslav_kryukov.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Assembling the Future: crafting the missing pieces of the Ruby on Wasm puzzle</h5>
          <p class="schedule__item__speaker">Svyatoslav Kryukov</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/lucian_ghinda" class="schedule__item__image" style="background: url(/assets/images/speakers/lucian.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop: Testing: How to write fewer tests and cover more cases</h5>
          <p class="schedule__item__speaker">Lucian Ghinda</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">16:00 - 16:30</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Coffee Break</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">16:30 - 17:20</div>
      <div class="schedule__item">
        <a href="/speakers/jose_valim" class="schedule__item__image" style="background: url(/assets/images/speakers/jose_cropped.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Keynote: Livebook: where Web, AI, and Concurrency meet</h5>
          <p class="schedule__item__speaker">José Valim</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">20:00 - ?</div>
      <div class="schedule__break">
        <p class="schedule__break__text">EuRuKo Party & Networking</p>
      </div>
    </div>
  </div>
</div>
