<div class="schedule">
  <div class="schedule__header">
    <div class="schedule__time">Time</div>
    <div class="schedule__place">Main Track</div>
    <div class="schedule__place">Second Track</div>
    <div class="schedule__place">Third Track</div>
  </div>
  <div class="schedule__body">
    <div class="schedule__row">
      <div class="schedule__time">09:40 - 10:00</div>
      <div class="schedule__item">
        <a href="/speakers/carmen_huidobro" class="schedule__item__image" style="background: url(/assets/images/speakers/carmen.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Good Morning and Agenda</h5>
          <p class="schedule__item__speaker">Carmen Huidobro</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">10:00 - 10:50</div>
      <div class="schedule__item">
        <a href="/speakers/dave_thomas" class="schedule__item__image" style="background: url(/assets/images/speakers/davethomas.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Keynote: TBD</h5>
          <p class="schedule__item__speaker">Dave Thomas</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">11:00 - 11:30</div>
      <div class="schedule__item">
        <a href="/speakers/yudai_takada" class="schedule__item__image" style="background: url(/assets/images/speakers/yudai_takada.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">How does Lrama make the Ruby parser grammar G.O.A.T.? </h5>
          <p class="schedule__item__speaker">Yudai Takada</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/obie_fernandez" class="schedule__item__image" style="background: url(/assets/images/speakers/obiefernandez.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Patterns of Application Development Using AI</h5>
          <p class="schedule__item__speaker">Obie Fernandez</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/rafael_pena_azar" class="schedule__item__image" style="background: url(/assets/images/speakers/rafael.jpg_large) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">How Ruby forged Crystal</h5>
          <p class="schedule__item__speaker">Rafael Peña-Azar</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">11:40 - 12:10</div>
      <div class="schedule__item">
        <a href="/speakers/piotr_szotkowski" class="schedule__item__image" style="background: url(/assets/images/speakers/piotr.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">TBD</h5>
          <p class="schedule__item__speaker">Piotr Szotkowski</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/andrei_bondarev" class="schedule__item__image" style="background: url(/assets/images/speakers/andrei_bondarev.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Build an AI agent in 15 min</h5>
          <p class="schedule__item__speaker">Andrei Bondarev</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/bartosz_blimke" class="schedule__item__image" style="background: url(/assets/images/speakers/bartosz_blimke.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">WebMock Unmocked</h5>
          <p class="schedule__item__speaker">Bartosz Blimke</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">12:20 - 13:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">City Pitching, Expo & Networking</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">13:00 - 14:00</div>
      <div class="schedule__break">
        <p class="schedule__break__text">Lunch Break</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:00 - 14:30</div>
      <div class="schedule__item">
        <a href="/speakers/steven_baker" class="schedule__item__image" style="background: url(/assets/images/speakers/steven.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">TBD</h5>
          <p class="schedule__item__speaker">Steven R. Baker</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/seon_heon_jung" class="schedule__item__image" style="background: url(/assets/images/speakers/seon-heon-jung.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Using Ractors and Making Ractors Usable</h5>
          <p class="schedule__item__speaker">Seong-Heon Jung</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/stephen_margheim" class="schedule__item__image" style="background: url(/assets/images/speakers/stephen_margheim.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop:  SQLite on Rails: From rails new to 50k concurrent users and everything in between</h5>
          <p class="schedule__item__speaker">Stephen Margheim</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">14:40 - 15:10</div>
      <div class="schedule__item">
        <a href="/speakers/samuel_giddins" class="schedule__item__image" style="background: url(/assets/images/speakers/samuel_giddins.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">A survey of recent RubyGems CVEs</h5>
          <p class="schedule__item__speaker">Samuel Giddins</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/jakub_godawa" class="schedule__item__image" style="background: url(/assets/images/speakers/jgodawa.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Visualized multi-threaded simulators in Ruby</h5>
          <p class="schedule__item__speaker">Jakub Godawa</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/stephen_margheim" class="schedule__item__image" style="background: url(/assets/images/speakers/stephen_margheim.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop:  SQLite on Rails: From rails new to 50k concurrent users and everything in between</h5>
          <p class="schedule__item__speaker">Stephen Margheim</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">15:20 - 15:50</div>
      <div class="schedule__item">
        <a href="/speakers/lucian_ghinda" class="schedule__item__image" style="background: url(/assets/images/speakers/lucian.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">The Modern Rubyist: When and How to Use the Latest Features</h5>
          <p class="schedule__item__speaker">Lucian Ghinda</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/john_gallagher" class="schedule__item__image" style="background: url(/assets/images/speakers/john_gallagher.jpeg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Squash Production Defects Quickly - The Power of Structured Logging in Rails </h5>
          <p class="schedule__item__speaker">John Gallagher</p>
        </div>
      </div>
      <div class="schedule__item">
        <a href="/speakers/stephen_margheim" class="schedule__item__image" style="background: url(/assets/images/speakers/stephen_margheim.png) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Workshop:  SQLite on Rails: From rails new to 50k concurrent users and everything in between</h5>
          <p class="schedule__item__speaker">Stephen Margheim</p>
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">16:00 - 16:30</div>
      <div class="schedule__break">
        <p class="schedule__break__text">City Voting Results & Coffee</p>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">16:30 - 17:20</div>
      <div class="schedule__item">
        <a href="/speakers/yukihiro_matsumoto" class="schedule__item__image" style="background: url(/assets/images/speakers/matz.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Closing Keynote: TBD</h5>
          <p class="schedule__item__speaker">Yukihiro Matsumoto</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
    <div class="schedule__row">
      <div class="schedule__time">17:30 - ?</div>
      <div class="schedule__item">
        <a href="/speakers/dave_thomas" class="schedule__item__image" style="background: url(/assets/images/speakers/davethomas.jpg) center center / cover no-repeat;"></a>
        <div class="schedule__item__content">
          <h5 class="schedule__item__title">Dave's uninterrupted conversation with Matz & José Valim</h5>
          <p class="schedule__item__speaker">Panel Discussion</p>
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
      <div class="schedule__item">
        <div class="schedule__item__content">
        </div>
      </div>
    </div>
  </div>
</div>
